$white: #ffffff;
$aero-blue: #D3F8E2;
$mauve: #E4C1F9;
$pastel-magenta: #F694C1;
$pale-goldenrod: #EDE7B1;
$non-photo-blue: #A9DEF9;
$glossy-grape: #AA9ABA;
$verdigris: #48A9A6;
$pullman-green: #393A10;
$magnolia: #F4E9D8;
$isabelline: #EFEFEF;
$mountbatten-pink: #957186;
$halaya-ube: #703D57;
$pale-silver: #C6C5B9;
$outrageous-orange: #F15A29;
$grey: #cccccc;
$more-grey: #bfbfbf;
$extra-grey: #8c8c8c;