<!-- 
  Flask-Bootstrap contains its own base.html which has defined
  blocks that we can refer to and add our own data.
-->
{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Title -->
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Welcome to the best Movie Review Website</title>
  {% endif %}

</head>

<body>
  <!-- Nav block -->
  {% block navbar %}
  <!-- Navbar -->
  {% include "navbar.html" %}
  <!-- Navbar End -->
  {% endblock %}
  <!-- Content block -->
  {% block content %} {% endblock %}
</body>

</html>