{% extends "base.html" %} {% import 'macros.html' as macro %}
<!-- Styles -->
{% block styles %}
<!-- 
  The super() method tell Jinja not to override any code writtern in
  this block.
-->
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='Css/index.css')}}"> {% endblock %}
<!-- Adding content -->
{% block content %}
<h1>{{sup}}</h1>
<!-- Popular movie section -->
<h3>Popular Movies</h3>
<div class="row">
  {{macro.displayMovieList(popular_movies)}}
</div>

<!-- Popular movie section -->
<h3>Upcoming Movies</h3>
<div class="row">
  {{macro.displayMovieList(upcoming_movies)}}
</div>

<!-- Popular movie section -->
<h3>Now showing Movies</h3>
<div class="row">
  {{macro.displayMovieList(now_playing)}}
</div>

{% endblock %}