{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Welcome to the best Movie Review Website</title>
  {% endif %}

</head>

<body>
  <h1>{{sup}}</h1>
  <!-- Popular movie section -->
  <h3>Popular Movies</h3>
  <ul>
    {% for pop in popular_movies %}
    <li>{{pop.title}}</li>
    {% endfor %}
  </ul>
  <!-- Popular movie section -->
  <h3>Upcoming Movies</h3>
  <ul>
    {% for upcoming in upcoming_movies %}
    <li>{{upcoming.title}}</li>
    {% endfor %}
  </ul>
  <!-- Popular movie section -->
  <h3>Popular Movies</h3>
  <ul>
    {% for playing in now_playing %}
    <li>{{playing.title}}</li>
    {% endfor %}
  </ul>
</body>

</html>