{% extends "base.html" %}
<!-- Adding macro -->
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block content %}
<div class="container-fluid mx-3 text-center">
  <h2>Hello. You are now in area {{movie_id}}</h2>
  <!-- Poster background -->
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 posterPath">
      <img src="{{movie.poster}}" alt="" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 movie-detail">
      <h3>{{movie.title}}</h3>
      <p class="overview">{{movie.overview}}</p>
      <p class="rating">
        <b>{{movie.vote_average}}</b> -
        <i>{{movie.vote_count}} votes</i>
        <br>
        <a href="/movie/review/new/{{movie.id}}" class="ratings">Write a new review</a>
      </p>
      <hr>
      <h1>Reviews</h1>
      <hr>
      <!--  -->
      {% if reviews %}
      <!-- Display reviews -->
      {{macro.displayReviews(reviews)}} {% else %}
      <h3 class="text-center">No reviews yet</h3>
      <a href="/movie/review/new/{{movie.id}}" class="btn btn-success btn-block text-center">Write a review</a>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}