{% extends "base.html" %}
<!-- Content block -->
{% block content %}
<h2>Hello. You are now in area {{movie_id}}</h2>
<div class="container">
  <!-- Poster background -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 posterPath">
      <img src="{{movie.poster}}" alt="" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 movie-detail">
      <h3>{{movie.title}}</h3>
      <p class="overview">{{movie.overview}}</p>
      <p class="rating">
        <b>{{movie.vote_average}}</b> -
        <i>{{movie.vote_count}} votes</i>
        <br>
        <a href="/movie/review/new/{{movie.id}}" class="ratings">Write a new review</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}